* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 2vw;
}

body {
    background-color: rgb(46, 46, 46);
    color: #fff;
}

body h1 {
    font-size: 2rem;
}

body h2 {
    font-size: 1.5rem;
}

body a {
    color: #fff;
}

.store .header {
    padding-top: 2rem;
}

.store .header .nav {
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
    box-shadow: none;
}

.store .header .nav h1 {
    margin: 0;
}

.store .header .nav .account {
    display: flex;
}

.store .header .nav .account .cart {
    display: flex;
    margin-right: 30px;
    position: relative;
}

.store .header .nav .account .cart .cart-icon {
    font-size: 3rem;
}

.store .header .nav .account .cart .amount-item-in-cart {
    font-size: .9rem;
    position: absolute;
    left: 100%;
    top: 45%;
    pointer-events: none;
    user-select: none;
}

.store .header .cart .material-icons a {
    color: #fff;
    display: inline-block;
}

.preloader-wrapper {
    display: flex;
    margin: 0 auto;
}

.login h2 {
    text-align: center;
}

.login form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.login form input {
    color: #fff;
}

.login form label {
    transform: translateY(-16px);
}

.signup h2 {
    text-align: center;
}

.signup form {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.signup form input {
    color: #fff;
}

.signup form label {
    transform: translateY(-20px);
}

.goods-card {
    margin-top: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.goods-card .info h2 {
    font-size: 3vw;
    margin: 1rem 0;
}

.goods-card .info .cost {
    font-size: .75rem;
}

.goods-card .info label {
    font-size: .5rem;
}

.goods-card .addToCart {
    display: flex;
    align-items: center;
    font-size: .75rem;
    padding: 1rem .75rem 1rem 0;
}

.goods-card .addToCart .material-icons {
    margin: 0 .5rem;
}

.cart {
    font-size: 1rem;
}

.cart h2 {
    font-size: 2rem;
    margin: 0;
}

.cart .cartItem-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.cart .cartItem-card + .cartItem-card {
    margin-top: 5vw;
}

.cart .cartItem-card .add-substract {
    display: flex;
    flex-direction: column;
}

.cart .cartItem-card .add-substract .amount {
    margin: 0 auto;
    cursor: pointer;
    user-select: none;
}

.cart .amount .disabled {
    pointer-events: none;
    opacity: .5;
}
/* 
@media (max-width: 750px) and (min-width: 701px) {
    :root {
        font-size: calc(1rem * 1.5);
    }
} */

@media (max-width: 700px) {
    :root {
        font-size: calc(1rem * 2);
    }
    .store .header .nav {
        flex-direction: column;
    }
    .store .signup form {
        width: 80%;
    }
    .goods-card {
        flex-direction: column;
        text-align: center;
    }
    .goods-card .product-title {
        font-size: 3rem;
    }
    .goods-card .addToCart {
        padding: 2.5vw 1rem 2.5vw 0;
    }
}